# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Flask instance folder
instance/

# Test & coverage outputs
.pytest_cache/
.coverage
htmlcov/

# Build / packaging
build/
dist/
*.egg-info/

# Flask-assets cache
.webassets-cache/

# IDE / editor settings
*.swp
.vscode/
.idea/

# Environment variables
.env
