bidict==0.23.1
blinker==1.9.0
click==8.1.8
Flask==3.0.3
Flask-Cors==5.0.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.0.5
greenlet==3.2.0
gunicorn==23.0.0
h11==0.14.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==24.2
psycopg2-binary==2.9.10
python-dotenv==1.0.1
python-engineio==4.12.0
python-socketio==5.13.0
simple-websocket==1.1.0
SQLAlchemy==2.0.40
typing_extensions==4.13.2
Werkzeug==3.0.4
wsproto==1.2.0
bcrypt==4.2.0
stripe==10.7.0
requests==2.32.3
google-auth==2.35.0
requests-oauthlib==2.0.0