blinker==1.9.0
click==8.1.8
Flask==2.3.3
Flask-JWT-Extended==4.5.1
Flask-SQLAlchemy==3.0.5
greenlet==3.2.0
gunicorn==22.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==24.2
PyJWT==2.10.1
python-dotenv==1.0.0
SQLAlchemy==2.0.40
typing_extensions==4.13.2
Werkzeug==2.3.7
